<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestUICollectionPaged iPad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>TestUICollectionPaged.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A48CBE41B697F980031791D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A48CBF91B697F980031791D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A64DBA91C328238007033B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A64DBC21C3299D3007033B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A64DBD01C329A14007033B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
